meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

title=title
meta(name="description" content=description)
meta(name="keywords" content=keywords)
meta(name="author" content=author)

link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
link(rel="manifest" href="/assets/favicon/site.webmanifest")

each style in styles
  link(rel="stylesheet" href=style)
